body {
  background-color: #f4f2ee;
}

.custom-sidebar-border {
  border: 1px solid gray;
}

.custom-sidebar-profiles-buttons {
  background-color: white;
  border: none;
  border: 1px solid black;
  border-radius: 20px;
  font-weight: 500;
  color: #404040;
  padding: 3px 15px;
}

.custom-sidebar-profiles-buttons:hover {
  border: 2px solid black;
  background-color: #f3f3f3;
}

.custom-sidebar-profilePicSize {
  width: 4rem;
}
.navbar {
  font-size: 0.7rem;
}

.textform {
  font-size: 0.8rem;
}

.navbar-second {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}
.navbar-second.show {
  transform: translateY(0);
}

.dropdown-toggle::after {
  display: none;
}

.margin-sidebar-custom {
  margin-left: 10px;
}

.buttonSidebar-mostraAltro {
  padding: 5px 0px;
  background-color: white;
  border: none;
  border-top: 1px solid gray;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  font-weight: 600;
  color: rgb(60, 60, 60);
}

.buttonSidebar-mostraAltro:hover {
  background-color: #e8e8e8;
  color: black;
}
